<html>
<head><link rel="stylesheet" href="web.css" type="text/css">
</link>
<link rel="stylesheet" href="ngcss.css" type="text/css">
</link>
<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- angular js -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script></head>
<body>
<div class="row pull-centre" style="background-image: url(bg-im.jpg)" >
    <div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-4 " style="background-color: white">
        <div class="imgcontainer">
            <img src="login.jpg" alt="Avatar" class="avatar">
        </div>
        <form>
            
            <h2> Access Your Account </h2>
            <hr/>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12  ">
                    <div class="form-group">
                        <b>Email: </b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input type="text" ng-model="user.email" class="form-control input-md" placeholder="abc@gmail.com" tabindex="1" required />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12  ">
                    <div class="form-group">
                        <b>Password: </b>
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                            <input type="password" ng-model="user.password" class="form-control input-md" placeholder="*****" tabindex="2" required />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 ">
                        <div class="form-group">
                            <div class= "checkbox">
                            <label ><input type="checkbox"  ng-model="remember" tabindex="5"> Show </label>
                            </div>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-8 col-md-8 ">
                    <div class="form-group">
                        <a href="signup.html" type="button" class="btn btn-warning btn-md" tabindex="3">
                            Not Registered?
                            Create an account!
                        </a> 
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4  ">
                    <div class="form-group">
                        <a href="userpage.html" type="button" class="btn btn-primary btn-block  btn-md" tabindex="4" >
                            <span>
                                <!--<button type="submit" ng-click="login()" class="btn btn-primary btn-block  btn-md" tabindex="4" >-->
                                    LOGIN
                                <!--</button>-->
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="form-group">
                        <div class= "checkbox">
                        <label ><input type="checkbox" checked="checked" ng-model="remember" tabindex="5"> Remember me</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 ">
                    <div class="form-group">
                        <a href="homepage.html" type="button" class="btn btn-danger  btn-md" tabindex="6">Cancel</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 ">
                    <div class="form-group">
                        <button type="submit" ng-click="login()" class="btn btn-primary btn-block btn-md" tabindex="7"> Forget password ?
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>