h1.P1{
    font-family : Jokerman;
    color: yellow;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
div.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
form {
    border: 3px solid #f1f1f1;
}
h2.p2{
    font-family : Informal Roman;
    color: orangered
}